/*======================================================*\
| VARIABLES                                              |
\*======================================================*/
// misc
$debug-mode: true;

// fonts
$fontMain: 'Rubik';
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

/*======================================================*\
| MAIN                                                   |
\*======================================================*/

body {
	font-family: $fontMain;
	font-size: 16px;
}

body,
table, tbody, td, tr {
	padding: 0px;
	margin: 0px;
}

.sideBar {
    display: inline-block;
    height: 100%;
    overflow: hidden;
	z-index: 2;
	
	p { margin: 0; }
	
	@if $debug-mode { border-right: 2px solid blue; }
	
	>.element {
		background-color: white;
		margin: 5px 0px;
		padding: 6px 0px 6px 20px;
		display: block;
		text-align: left;
		font-size: 16px;
		width: 100%;
		border-left: 0px solid rgba(0,0,0,0);
		border-right: 0px solid rgba(0,0,0,0);
		
		&:hover {
			color: white;
			background-color: black;
			cursor: pointer;
		}

		@if $debug-mode {
			border-top: 2px solid blue;
			border-bottom: 2px solid red;
		}
	}
}

.main {
	color: white;
	background-color: green;
	padding-left: 8px;
	overflow: hidden;
	display: inline-block;
	height: 100%;
	z-index: 1;
}